/*the content img h3 and p are not in the correct container
content not styled as example
the gray border is wrong, margin and padding properties are wrong
*/
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
/*    box-sizing: border-box;*/
}

header {
    background-color: #eebb44;
    padding-left: 40px;
    margin-bottom: 40px;
}
div {
    display: block;
}
h1 {
    padding-top: 12px;
    margin: 0;
}

p {
    margin: 0;
    padding-bottom: 30px;
}


h3 {
    margin-bottom: 3px;
}
p h3 {
    padding: 20px;
}

img {
    max-width: 100%;
}
