body {
    margin: 0;
/*    box-sizing: border-box;*/
}
/*style: Top, Bottom, Left, Right
margin: auto, 0: 
apply margin Top Bottom, 0 Left, Right*/
/*
main {
    border: 2px solid red;
}
*/
header {
    background-color: #eebb44;
    padding-left: 40px;
}
div {
    display: block;
}
h1 {
    padding-top: 12px;
    margin: 0;
}

p {
    margin: 0;
    padding-bottom: 15px;
}

p h3 {
    padding: 20px;

}
/*temporarily targeted img to see what I am doing
make responsive on the float-grid*/
img {
    max-width: 100%;
}
