body {
    margin: 0;
    box-sizing: border-box;
}
/*style: Top, Bottom, Left, Right
margin: auto, 0: 
apply margin Top Bottom, 0 Left, Right*/
/*
main {
    border: 2px solid red;
}
*/
header {
    background-color: darkorange;
    padding-left: 40px;
    margin-bottom: 
}
h1 {
    padding-top: 12px;
    margin: 0;
}

p {
    margin: 0;
    padding-bottom: 15px;
}

/*temporarily targeted img to see what I am doing
make responsive on the float-grid*/
img {
    max-width: 33.333%;
}
